@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;
	cursor:pointer;}
a:hover{
	cursor:pointer;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.clean-button{
	border:0;}
/*Start */
.footer-div{
	overflow:hidden;}
.blue-bg{
	background-color:#3268ff;}
.footer-p {
    font-size: 14px;
	    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}
.first-left-div{
	background: rgba(0,28,130,1);
	background: -moz-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,28,130,1)), color-stop(80%, rgba(0,28,130,1)), color-stop(100%, rgba(9,9,76,1)));
	background: -webkit-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -o-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: linear-gradient(to right, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c82', endColorstr='#09094c', GradientType=1 );
	float:left;
	width:50%;
	padding-left:7.5%;
	padding-right: 7.5%;
	padding-top: 175px;
}
.first-right-div{
	float:right;
	width:50%;
	background-color:#09094c;
	padding-right:7.5%;
	padding-top: 50px;
	
}
.landing-first-div{
	display:flex;}
.ai-img{
	width:100%;}
.rounded-200-button{
	width: 200px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    margin-top: 60px;
}
.rounded-200-button:hover{
	background-color:#09094c;
	transition:.25s ease-in-out;
	
}
.mobile-logo{
	display:none;}
.header1 {
    padding-top: 10px;
}
.middle-menu-div {
    width:calc(100% - 215px);
    text-align: center;
	float: left;
	padding-top:3px;
}
.menu-padding {
    padding-right: 25px;
}
.left-logo-div{
	width:88px;}
.right-menu-div{
	width:127px;
	padding-top:3px;}
	
.opacity-hover:hover{
	opacity:0.75;
	transition:.25s ease-in-out;}
.menu-bg{
	background: rgba(0,28,130,1);
	background: -moz-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,28,130,1)), color-stop(80%, rgba(0,28,130,1)), color-stop(100%, rgba(9,9,76,1)));
	background: -webkit-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -o-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: linear-gradient(to right, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c82', endColorstr='#09094c', GradientType=1 );}
.dl-menuwrapper{
	display:none;
}
.dl-menu {
    height: 100vh;
    overflow: scroll;
}
.web-none{
	display:none;}
.second-four-div {
    padding-top: 50px;
	text-align: center;
}
.bold-subtitle-p {
    font-weight: 800;
    font-size: 18px;
}
.four-div {
    width: 22%;
    float: left;
}
.four-mid-left-div {
    margin-left: 4%;
    margin-right: 4%;
}
.four-mid-right-div {
    margin-right: 4%;
}
.separate-distance {
    margin-bottom: 50px;
}
.four-div-img {
    width: 50%;
}
.line-icon {
    width: 65px;
}
.line-h2{ 
            display: flex; 
            flex-direction: row; 
			margin-left: 25%;
    		margin-right: 25%;
        }    
.line-h2:before, 
.line-h2:after { 
            content: ""; 
            flex: 1 1; 
            border-bottom: 1px solid #09094c; 
            margin: auto; 
        } 
.line-icon-spacing{
	margin-left: 50px;
    margin-right: 50px;
}
.padding-top-50{
	padding-top:50px;}
.two-left-visual-div{
	width:50%;}
.two-right-content-div{
	width:50%;	
}
.two-right {
    padding-left: 7%;
	padding-right:5%;
	margin-top: 75px;
}
.two-left {
    padding-right: 5%;
	padding-left: 7%;
	margin-top: 75px;
}
.full-width-btn {
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
    border-radius: 25px;}
.two-content-p {
    margin-bottom: 70px;
}
.blue-btn-hover{
	background-color:#3268ff;
}
.blue-btn-hover:hover{
	background-color:#09094c;
	transition:.25s ease-in-out;
	cursor:pointer;
}
.spacing-div{
	width100%;
	min-height:75px;}
.aidex-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid gainsboro;
    font-size: 16px;
}
.aidex-input:focus{
    border-bottom: 1px solid #3268ff;
	transition:.25s ease-in-out;	
}
.input-top-text {
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
	color:#d2d2d2;
}

.input-div:hover .input-top-text{
	color:#3268ff;
	transition:.35s ease-in-out;
}
.input-div:hover .contact-code{
	 border-bottom: 1px solid #3268ff;
	 transition:.35s ease-in-out;
}
.input-div:hover .aidex-input{
	 border-bottom: 1px solid #3268ff;
	 transition:.35s ease-in-out;
}
.input-div {
    margin-bottom: 30px;
}
.contact-code {
    text-align: left;
    width: 50px;
    float: left;
	font-size: 18px;
	border-bottom: 1px solid gainsboro;
	margin-top:0;
}
.mobile-input {
    float: left;
    width: calc(100% - 50px);
}
.text-left{
	text-align:left;}
.blue-link{
	color:#3268ff;}
.blue-link:hover{
	color:#09094c;
	transition:.25s ease-in-out;
	cursor:pointer;
}
.extra-margin-top {
    margin-top: 20px;
}
.separate-distance2{
	margin-top:75px;}
.margin-control{
	margin-top:20px;}
.visible-icon {
    width: 25px;
    position: absolute;
    margin-left: -25px;
}
.dual-a-btm{
	margin-bottom:20px;}
.forgot-u-a{
	float:right;}
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-css {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content{
	width: 30%;
	background-color: white;
    border-radius: 10px;
    border: 0;
	margin-top: calc(50vh - 200px);

}
.blue-h2{
	color:#09094c;
	text-align:center;}
.pop-out-input{
	background-color:transparent;}
.display-block-forever{
	display:block !important;}
.middle-p {
    margin-top: 180px;
}
.shadow-white-div{
	background-color:white;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(50,104,255,0.24); 
	box-shadow: 0px 0px 15px 5px rgba(50,104,255,0.24);
	border-radius: 10px;
    text-align: center;
	padding-top: 30px;
    padding-bottom: 10px;}
.big-four-div-container{
	padding: 50px 7.5%;
}
.four-div-big-p {
    font-size: 21px;
    font-weight: 800;
}
.some-spacing {
    margin-top: 30px;
}
@media all and (max-width: 1470px){	
.first-left-div{
    padding-right: 2%;	
	padding-top: 145px;
}
}
@media all and (max-width: 1450px){	
.two-left, .two-right {
    padding-right: 3%;
    padding-left: 3%;}

}
@media all and (max-width: 1400px){	
.login-modal-content {
    width: 50%;}

}
@media all and (max-width: 1300px){	
.first-left-div {
    padding-right: 0;
    padding-top: 100px;
}
.four-div-p {
    font-size: 14px;
}
}
@media all and (max-width: 1200px){	
.two-content-top-p{
	margin-top:0;
}
.two-content-p {
    margin-bottom: 40px;
}
}
@media all and (max-width: 1150px){	
.banner-logo {
    width: 70%;
}
.rounded-200-button{
	margin-top:30px;}

}
@media all and (max-width: 950px){	
.first-left-div{
	width:65%;}
.first-right-div{
	width:35%;
}
.ai-img {
    margin-top: 50px;
}
.first-left-div {
    padding-top: 70px;
    padding-bottom: 50px;
}
.banner-logo {
    width: 55%;
}
.two-left{
	padding-right:3%;}
.two-right{
	padding-left:3%;}
.full-width-btn{
	padding:10px;}
}
@media all and (max-width: 915px){	
.long-blue-div {
    border-radius: 45px;
}
}
@media all and (max-width: 900px){
.aidex-input, .contact-code{
	font-size:15px;}	
.contact-code{
	margin-top:2px;}
.aidex-label {
    font-size: 14px;
}
.forgot-a, .forgot-u-a{
	font-size:14px;}
}
@media all and (max-width: 800px){	
.second-four-div {
    padding-top: 30px;}

.bold-subtitle-p{
	font-size: 16px;
}
.four-div {
    width: 48%;
	margin-bottom: 30px;
}
.four-mid-left-div{
	margin-right:0;}
.four-div-tempo-clear{
	clear:both;}
.two-content-p{
	font-size:14px;
	margin-bottom:20px;}
.full-width-btn{
	font-size:14px;}
.line-h2{
	margin-left: 0;
    margin-right: 0;
}
.two-left, .two-right {
	margin-top:35px;
	margin-bottom:35px;}
.form-div .two-left{
	float:none;
	margin-left:0;
	margin-right:0;
	padding:0;
	width:100%;
	}
.form-div .two-right{
	float:none;
	margin-left:0;
	margin-right:0;
	padding:0;
	width:100%;
	}
.form-div .two-left-visual-div{
	padding-left:30%;
	padding-right:30%;}
.form-div .two-right-content-div{
	padding-left:10%;
	padding-right:10%;}
.separate-distance2 {
    margin-top: 35px;
}
.login-modal-content {
    width: 75%;
}
.stay-tune-p {
    font-size: 14px;
}
}
@media all and (max-width: 700px){	
.first-banner-p {
    font-size: 14px;
}
.rounded-200-button {
    margin-top: 20px;
	padding: 8px 0;
	font-size:14px;
}
}
@media all and (max-width: 650px){	
.line-icon {
    width: 45px;
}
.padding-top-50 {
    padding-top: 0px;
}
.two-left, .two-right {
	float:none;
	padding:0;
	width:100%;}
.two-right-content-div {
    margin-bottom: 75px;
	text-align:center;
}
.text-left{
	text-align:left;}

}
@media all and (max-width: 600px){	
.middle-menu-div, .right-menu-div{
	font-size:12px;
	padding-top: 0px;}
.logo-img {
    width: 55px;
}
.left-logo-div{
	width:55px;}
.menu-padding {
    padding-right: 10px;
}
.right-menu-div{
	width:87px;}
.middle-menu-div {
     width: calc(100% - 142px);}
.mobile-none{
	display:none;}
.web-none{
	display:block;}
.landing-first-div{
	display:block;}
.first-right-div{
	float:none;
	width:100%;
	text-align: center;
	padding-left: 7.5%;}
.ai-img {
    width: 50%;
	margin-top: 0px;
}
.first-left-div {
    width: 100%;
    float: none;
	padding-top: 30px;
	background: rgba(9,9,76,1);
	background: -moz-linear-gradient(top, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,9,76,1)), color-stop(24%, rgba(0,28,130,1)), color-stop(100%, rgba(0,28,130,1)));
	background: -webkit-linear-gradient(top, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	background: -o-linear-gradient(top, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	background: -ms-linear-gradient(top, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	background: linear-gradient(to bottom, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09094c', endColorstr='#001c82', GradientType=0 );
	padding-right: 7.5%;
	text-align:center;
}
.rounded-200-button{
    margin-left: auto;
    margin-right: auto;	
}
.footer-p {
    font-size: 13px;}
}
@media all and (max-width: 550px){
.form-div .two-right-content-div {
	padding:0;
}
.form-div .two-left-visual-div {
    padding-left: 20%;
    padding-right: 20%;
}
}
@media all and (max-width: 500px){
.blue-h2{
	font-size:18px;}
.login-modal-content {
    width: 85%;
}
}
@media all and (max-width: 450px){
.four-div {
    width: 45%;}	
.four-mid-left-div {
    margin-left: 10%;}	
.four-mid-right-div {
    margin-right: 10%;
}
}
@media all and (max-width: 400px){	
.web-menu{
	display:none;}
.dl-menuwrapper{
	display:block;}
.right-menu-div {
    text-align: right;
    width: auto;
    padding-right: 7.5%;
}
.four-div-p {
    font-size: 13px;
}
.four-div-img {
    width: 70%;
}
.four-div-small-p {
    font-size: 13px;
}
.four-div-big-p {
    font-size: 16px;}

}